junit_xml==1.9
pymongo==4.15.4
xmljson==0.2.1
ansible==13.0.0
kubernetes==34.1.0
openshift==0.13.2
jmespath==1.0.1
click==8.3.1
prettytable==3.17.0
jinja-cli==1.2.2
jinjanator==25.3.0
slack-sdk==3.39.0
jira==3.10.5
boto3==1.41.2